@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');


:root {

    --color-body: rgb(176, 171, 155);
    --color-heading: rgb(115, 93, 72) ;
    --color-base: rgba(225, 168, 107, 0.493);
    --color-base2: rgb(221, 148, 64);
    --color-font-heading: rgb(64, 36, 7);
    --color-font: rgb(135, 77, 41);
    --sidbar-width : 240px;
    --font-base: "Belanosima"



}

body {
    background-color: var(--color-body);
    color: var(--color-font);
    font-family: var(--font-base);

}

h6 {
    color: var(--color-font);
    font-weight: 600;

}

a {
    color: var(--color-base2);
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    color: black;
    background-color: bisque;
}

img {
    -webkit-box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    -moz-box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    
}

/* NAVBAR */

.nav-link {
    font-weight: 600;
    text-transform: uppercase;
    color: bisque;


}

.nav-link:hover {
    color: var(--color-body);

}

@media (min-width: 992px){
    .navbar {
        min-height: 10vh;
        background: linear-gradient(rgb(129, 121, 111), rgb(55, 30, 9)), url(../images/p1.png);
        background-size: cover;
        background-position: center;

    }

    .home {
        width: 100%;
    }
}
/* HERO */

.container-fluid {
    background-color: var(--color-body);
    position: relative;
    height: 500px;
    align-items: center;
    
}
h3 {
    font-size: 50px;
    font-weight: 400;
    color: bisque;
    font-family: var(--font-base)
    font-style: italic;
}

.container-fluid p {

}

/* Work Section as card */

.container h4 {
        padding-top: 20px;
        text-transform: uppercase;
        font-size: 50px;
        text-decoration: none;
        text-shadow: 1px color(srgb rgb(104, 99, 99) rgb(164, 167, 164) rgb(220, 164, 108));
        text-align: center;
    

}
.container
.cardContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

h4 {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 1px color(srgb rgb(104, 99, 99) rgb(164, 167, 164) rgb(220, 164, 108));
    text-align: center;


}
.card {
    -webkit-box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    -moz-box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-body {
    font-family: var(--font-base);
    text-align: center;
}








p {
    color: bisque;
    font-size: 15px;

}

.btn {
    background-color: bisque;
    font-size: 15px;
    color: var(--NAVFONTCOLOR--);
    font-family:var(--font-base);
    border: 1px solid rgb(42, 31, 22);
    border-radius: 10px;
     
}

.btn:hover {
    background-color: var(--color-body);
    border: 1px solid var(--color-font-heading);
}

/* main about */


.about img {
    -webkit-box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    -moz-box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);
    box-shadow: -22px 3px 107px 7px rgba(0,0,0,0.68);

}

